*{
  margin: 0;
  padding: 0;
  /* background-color: rgb(9, 21, 37); */
}

.page{
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.header{
max-width: 425px;
min-height: 200px;
background-image: url('./img/iwF9nyiik2s.jpg');
background-size: cover;
background-position: center;
margin: 0 auto;
display: flex;
}

.header__link{
  background-color: #fff;
  padding: 1px;
  align-self:flex-end;
  margin: 0 auto 1px;
  color: black;
  text-decoration: none;
}

.card1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 425px;
  min-height: 525px;
  background-image: url('./img/IMG_3211.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 16px auto 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.card1__linkin-park{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  min-height: 180px;
  background-color: #444443;
  margin: 0 0 0 20px;
  box-shadow: -4px 4px 0px #444443;
  border-radius: 10px;

}

.card1__link-park{
  min-width: 40px;
  background-image: url('./img/linkinpark.png');
  z-index: 3;
  padding: 90px 60px;
  background-size: cover;
  border-radius: 10px;
}

.card1__evanesense {
  display: flex;
  max-width: 160px;
  min-height: 180px;
  background-color: #444443;
  margin: 0 0 0 50px;
  box-shadow: -4px 4px 0px #444443;
  border-radius: 10px;
}

.card1__link-eva{
  min-width: 40px;
  background-image: url('./img/IMG_3583.jpg');
  z-index: 3;
  padding: 90px 60px;
  background-size: cover;
  border-radius: 10px;
}

.card2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 425px;
  min-height: 525px;
  background-image: url('./img/IMG_3203.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 16px auto 0;
  padding-top: 30px;
  padding-bottom: 20px;